{% extends 'base.html' %}

{% block title %} Add A Post {% endblock title %}

{% block content %}
    <h1>Add A Post!</h1>
    <form action="/users/{{ user.id }}/posts/new" method="POST">
        <div>
            <label for="post_title">Title:</label>
            <input name="post_title" id="post_title">
        </div>
        <div>
            <label for="post_content">Content:</label>
            <p>
                <textarea name="post_content" id="post_content" rows="4" cols="50"></textarea>
            </p>
            
        </div>

        <button type="submit">Add Post</button>
    </form>
    <form action="/users/{{ user.id }}">
        <button type="submit">Cancel</button>
    </form>

{% endblock content %}