{% extends 'base.html' %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock title %}

{% block content %}

<div>
    <img height="260px" width="250px" src="{{ user.img_url }}">
</div>
<div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
</div>

<form action="/users/{{user.id}}/edit">
    <button type="submit">Edit</button>
</form>

<form action="/users/{{ user.id }}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

<h2>Posts</h2>
<ul>
    {% for post in user.posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<form action="/users/{{ user.id }}/posts/new">
    <button type="submit">Add Post</button>
</form>


{% endblock %}
